﻿@using System.Configuration
@{
    ViewBag.Title = "isanAsshole";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/urlmapping.js")" type="text/javascript"> </script>
<div id="wrap">
    <div id = "main" class="container text-center">
        <h2>Had a bad day with annoying people ?</h2>
        <h3> we've been there too ..</h3>
        <h4>You can now vent it out here !</h4> 
        <h4>Create a site against them and tell the world all about it </h4>
        <h4 class="orange"> No Sign Up required </h4>
        <br/>
        @{
            string domainName = ConfigurationManager.AppSettings["DomanName"];
        }
        <b class="blue"><input type="text" class="text-center" style="font-weight: bold; color: #2B60DE; "/>.@domainName</b>
        <div>
            @*        @Html.ActionLink("Create Website"+ "<br />" + "No SignUp Required", "Create", "Url",new {},new {@class="btn btn-primary btn-large blocky"})*@
            <a href="@Url.Action("Create","Url")" class="btn btn-primary btn-large">Create Website
            </a>
        </div>
    </div>
</div>
<footer class="navbar navbar-fixed-bottom text-center ">
        @Html.ActionLink("Privacy","Index","Privacy",null,new {@class = "whitish_footer FontSmall"}) &nbsp; &nbsp;
        @Html.ActionLink("Terms Of Service","Index","Terms",null,new {@class = "whitish_footer FontSmall"})  &nbsp; &nbsp;
        @Html.ActionLink("Contact Us","Index","ContactUs",null,new {@class = "whitish_footer FontSmall"})
</footer>
