﻿@using Microsoft.Web.WebPages.OAuth
@model System.Collections.Generic.ICollection<Microsoft.Web.WebPages.OAuth.AuthenticationClientData>

@if (OAuthWebSecurity.RegisteredClientData.Count == 0)
{
    <div class="message-info">
        <p>Wtf !! ask this lazy ass Developer to configure some external Logins.. </p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account"))
    {
    @Html.AntiForgeryToken()
    <div id="socialLoginList">
        <p>
@*        @foreach (AuthenticationClientData p in OAuthWebSecurity.RegisteredClientData)*@
@*        {*@
@*            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>*@
@*        }*@

            <button type="submit" name="provider" value="facebook" class="btn btn-primary btn-large" title="Log in using your Facebook account">Sign in with Facebook</button>
            <button type="submit" name="provider" value="google" class="btn btn-danger btn-large" title="Log in using your Google account">Sign in with Google</button>
            <button type="submit" name="provider" value="twitter" class="btn btn-info btn-large" title="Log in using your Twitter account">Sign in with Twitter</button>
@*            todo: On using multiple accounts with same username chk, if site's hackable *@
            
            @Html.Hidden("returnUrl",(string)ViewBag.ReturnUrl)
        </p>
    </div>
    }
}
