﻿@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
    <div class="text-center">
        <h3> Sign in to create a website right away !! </h3>

        <h4> Use one of these accounts you already have.. </h4>

        @Html.Partial("_ExternalLoginsListPartial")
    </div>
</div>