﻿@model People.Models.Register
@*dead code, we're not gonna allow regstration*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Regsiter</title>
    </head>
    <body>
        <div>
            Hi plzz register !
            
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <fieldset>
                    <legend>Registration Form</legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </li>
                    </ol>
                    <input type="submit" value="Register" />
                </fieldset>
            }

        </div>
    </body>
</html>