﻿@model dynamic

@{
    ViewBag.Title = "Access Denied !";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container ">
    <div class="hero-unit">
        <h4 class="text-center text-error">You donot have, permission to view this page, please Log-in using the appropriate account to edit </h4>        
    </div>
</div>


