﻿@using System.Configuration
@{
    ViewBag.Title = "Page doesnot exist !";
    Layout = "~/Views/Shared/_MainUrlLayout.cshtml";
}

<br />
<div class="container">
    <div class="hero-unit">
        <h2>The page you're looking for doesn't exist !</h2>
        <br/>
        <h3>Create one ?? 
            
            @Html.ActionLink("Yes Please !","Create","Url","http",(string)ViewBag.DomainName,"",null, new {@class = "btn btn-primary btn-large"})
        </h3>        
    </div>
</div>
