﻿@model dynamic

@{
    ViewBag.Title = "Search ..";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
    <div class="hero-unit">
        <h4 class="text-center text-error">Please enter 2 or more characters to search..</h4>
    </div>
</div>
