﻿@model dynamic

@{
    ViewBag.Title = "isanAsshole";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <h4 class="text-center">
        You're feedback and suggestions for the site are welcome. 
    </h4>
    <h4 class="text-center">
        Feel free to reach to us at eyesasc@gmail.com
    </h4>
</div>
