﻿@model DAL.FNhibernate.Entities.UserProfile

@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
    <div class="hero-unit">
        <div class="span8">
            <b>Welcome @Model.FriendlyName</b>
        </div>
        <div class="span2 pull-right">
            @Html.ActionLink("Create Website", "Create", "Url",new {},new {@class="btn btn-primary"})
        </div>
        <br/>
        <br/>
        <div>
            <div class="breadcrumb text-center">Your Sites </div>
            <div id="toastMe" class="text-center text-warning"></div>
       
            <table class="table table-striped table-bordered">
                <thead >
                </thead>
                <tbody>
                    @{
                        foreach (var post in Model.Posts)
                        {
                            string fullUrl = "http://" + @post.Url + @ViewBag.DomainNameWithDot;
                            string fullUrlWithoutProtocol = @post.Url + @ViewBag.DomainNameWithDot;
                            <tr>
                                <td class="max_width">
                                    <b>
                                    <a href="@fullUrl" target="_blank">@fullUrlWithoutProtocol</a>
                                    </b>
                                </td>
                                <td>
                                    @Html.ActionLink("Edit","Edit","Url",new {id  = post.Id}, new {@class="btn btn-primary btn-small"})
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-small deletePost" ajaxUrl="@Url.Action("Delete","Url",new {@post.Id})" >Delete</button>
                                </td>
                                <td>
                                    @post.Samay.ToShortDateString()
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
            
        </div>
    </div>
</div>